<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 84f9ff5d8f56ef279a027ce172551f645af7c764
﻿ <style>

 .check{
        color: #ffc107;
    }

</style>


<div id="star" class="line " rate="@Math.Round(Model)">
   
    @if (Model > 0.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    }
    @if (Model > 1.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    } @if (Model > 2.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    } @if (Model > 3.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    } @if (Model > 4.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    }
<<<<<<< HEAD
=======
=======
﻿ <style>

 .check{
        color: #ffc107;
    }

</style>


<div id="star" class="line " rate="@Math.Round(Model)">
   
    @if (Model > 0.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    }
    @if (Model > 1.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    } @if (Model > 2.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    } @if (Model > 3.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    } @if (Model > 4.5)
    {
        <span class="fa fa-star check"></span>
    }
    else
    {
        <span class="fa fa-star"></span>

    }
>>>>>>> b905b14e014d082ee4d3e4a1db7d5c994c74a9c2
>>>>>>> 84f9ff5d8f56ef279a027ce172551f645af7c764
</div>