 @model Review
<div class="comment-box">
    <div class="comment-section d-flex align-items-start" style="padding:0px">
        <div class="user-img">
            <img src="/image/user.jfif" alt="User Image">
        </div>
        <div class="flex-grow-1">
            <h5>محمد طارق</h5>
            <div id="star" class="line " rate="@Model.Rate">
                <partial name="_Rate" model="@Model.Rate" />

            </div>
        </div>

    </div>
    <div style=" margin-right:4rem">
        <p class="mt-2">@Model.Comment</p>
        <div class="d-flex justify-content-between">
            <span class="text-muted">@Model.Date</span>
        </div>
    </div>
</div>
       