@model MVC_Final.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <h1>Name: @Model.Name</h1>

    @* <h1>Doctors: @Model.Doctors</h1> *@
 @*    <div>
        @foreach (var doctor in Model.Doctors)
        {
            <div>Dr:  @doctor.Name </div>
        }
    </div> *@
    <div><img width="200" height="200" href="~/images/@Model.Img" /></div>
    <h3>Experince:@Model.Experince</h3>
    <h3>Experince:@Model.Qualifications</h3>
    <h3>Experince:@Model.Address</h3>

</div>
<div>
    <a href="/doctor/index" class="btn btn-light">Back to List</a>
</div>