<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 84f9ff5d8f56ef279a027ce172551f645af7c764
﻿<ul class="box-info">
    <li>
        <i class='bx bxs-group'></i>
        <span class="text">
            <h3>@(ViewBag.PatientsCount ?? 0)</h3>
            <p>No of Patients </p>
        </span>
    </li>
    <li>
        <i class='bx bxs-calendar-check'></i>

        <span class="text">
            <h3>@(ViewBag.ApointsCount ?? 0)</h3>
            <p>No of Appointments</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-dollar-circle'></i>
        <span class="text">
            <h3>$@(ViewBag.TotalMoney ?? 0.0)</h3>
            <p>Total Money</p>
        </span>
    </li>
</ul>
<<<<<<< HEAD
=======
=======
﻿<ul class="box-info">
    <li>
        <i class='bx bxs-group'></i>
        <span class="text">
            <h3>@(ViewBag.PatientsCount ?? 0)</h3>
            <p>No of Patients </p>
        </span>
    </li>
    <li>
        <i class='bx bxs-calendar-check'></i>

        <span class="text">
            <h3>@(ViewBag.ApointsCount ?? 0)</h3>
            <p>No of Appointments</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-dollar-circle'></i>
        <span class="text">
            <h3>$@(ViewBag.TotalMoney ?? 0.0)</h3>
            <p>Total Money</p>
        </span>
    </li>
</ul>
>>>>>>> b905b14e014d082ee4d3e4a1db7d5c994c74a9c2
>>>>>>> 84f9ff5d8f56ef279a027ce172551f645af7c764
